section
	border 1px solid purple
	margin 5px
	
	&.message-section
		position relative
		min-height 500px
		padding 5px
		
		.messages
			overflow-y scroll
			height 380px
		
		.message-input
			position absolute
			bottom 0
			width 100%
		
		.message
			&:nth-child(even)
				background #ececec
			.user
				font-weight bold
	
	&.thread-section
		.thread
			&:hover
				cursor pointer